<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="titles">
   404 Not found!!!
    </div>
    <div class="news-content">
     
    </div>
      <%- include('./partials/footer.ejs') %>
  <style>
         .titles{
    color:hsl(240, 4%, 10%);
    font-weight: 400;
  font-size: 30px;
  margin-block-end: 60px;
  max-width: max-content;
  text-align: left;
  margin-inline: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;transform:translate(-400%,700%)
  }
 
  </style>
    </body>
  </html >


